*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 300;
    color: #666666;
}

h1 {
    font-size: 30px;
    font-family: 'montserrat';
    font-weight: 700;
}


.wedge {
    width: 80%;
    margin: 0 auto;
}

.active {
   color: coral;
}

.mini-shadowbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 4px;
    /* border: 1px solid #c4c4c4; */
    box-shadow: 0px 1px 5px #3F3F4419;
}

.productsCat {
    width: 80%;
    margin: 20px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.productTab {
    margin-top: 50px;
    /* background-color: #c4c4c4; */
    border-radius: 4px;
    width: 250px;
    height: 250px;
    padding: 10px;
}

.flex-section {
    background-color: #fff7ed;
    padding: 100px 200px;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-blog {
    width: 90%;
    margin: 20px auto;
}

.home-cover {
    background-image: url('https://images.pexels.com/photos/5625041/pexels-photo-5625041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
}

.cover-text {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 10px 160px;
    border-radius: 4px;
}

#footer {
    margin-top: 100px;
    background-color: #444444;
    padding: 100px 200px;
    color: #fcfcfc;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.arrows {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 50%;
    border: 1px solid coral;
    cursor: pointer;
}

/* ************************PRODUCTS************* */
.product-group {
    background: #fcfcfc;
    /* border: 1px solid #ebebeb; */
    margin: 10px ;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
.product-img {
    height: 150px;
}
.product-name {
    font-size: 13px;
    text-align: center;
}
.product-price {
    font-size: 13px;    
    padding: 7px 13px;
}




/* *************SHOP STYLE************ */

.shop-container {
    display: flex;
    flex-direction: row;
}

.shop-cover {
    height: 70px; 
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background:url('https://images.pexels.com/photos/5632324/pexels-photo-5632324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
}

