*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #1d1d1d;
}

p {
    font-family: montserrat;
    font-size: 16px;
}

h1 {
    font-size: 75px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Sen', sans-serif;
    font-size: 50px;
    line-height: 45pt;
    font-weight: 700;
}

h3 {
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    line-height: 35pt;
    font-weight: 700;
}

h4 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

h5 {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.wedge {
    /* width: 80%; */
    margin: 0 200px;
}

.active {
   color: coral;
}

.mini-shadowbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 17px;
    border-radius: 4px;
    /* border: 1px solid #c4c4c4; */
    /* box-shadow: 0px 1px 5px rgb(0, 0, 0); */
}

.productsCat {
    width: 80%;
    margin: 30px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.productTab {
    margin-top: 50px;
    /* background-color: #c4c4c4; */
    border-radius: 4px;
    width: 250px;
    height: 250px;
    padding: 10px;
}

.flex-section {
    background-color: #fffbf8;
    padding: 30px 200px;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-blog {
    /* width: 90%; */
    margin: 20px auto;
}

.home-cover {
    width: 100%;
    padding: 0 0 0 200px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
}

.cover-text {
    width: 40%;
    margin: auto 0;
    /* padding: 10px 160px; */
}

#footer {
    /* margin-top: 100px; */
    background-color: #444444;
    padding: 100px 200px;
    color: #fcfcfc;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.arrows {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 50%;
    border: 1px solid coral;
    cursor: pointer;
}

/* ************************PRODUCTS************* */
.product-group {
    background: #fcfcfc;
    /* border: 1px solid #ebebeb; */
    margin: 10px ;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
.product-img {
    height: 150px;
}
.product-name {
    font-size: 13px;
    text-align: center;
}
.product-price {
    font-size: 13px;    
    padding: 7px 13px;
}




/* *************SHOP STYLE************ */

.shop-container {
    display: flex;
    flex-direction: row;
}

.shop-cover {
    height: 70px; 
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background:url('https://images.pexels.com/photos/5632324/pexels-photo-5632324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
}

